<table class="profile">

	<tr>
		<td style="vertical-align:top;">
			
			<div style="width:100%;">
				<div style="width:220px;float:left;">
					<%= render_cell :ProfilePhoto, :display , :uid => current_user.id, :size => 'large' %>
				</div>
				<div style="width:300px;float:left;">
					<%= render_cell :UserStatus, :display , :uid => current_user.id %>
				</div>
			</div>

		</td>

		<td>
			<%= render_cell :AboutMe, :display , :uid => current_user.id %>
		</td>

	</tr>

</table>