<div><h1><%= @chatteruser.raw_hash["name"] %></h1></div>
<div style="margin-left:10px;"><%= @chatteruser.raw_hash["title"] %></div>
<br/>
<div>"<%= @chatteruser.raw_hash["currentStatus"] != nil ? @chatteruser.raw_hash["currentStatus"]["body"]["text"] : 'No status update' %>"</div>